/* Justin D. Grumal 240005134 */
#aboutUs{
    color: #1e1e1e;
    font-weight: 600;
    text-decoration: underline;
} 
/* Body Background */
body{
    background-image: url(./Images/bannerIndex_L.jpg), url(./Images/bg.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100vw 90vh;
}
@media (max-width: 600px) {
    body{
        background-image: url(./Images/bannerIndex_SM.jpg), url(./Images/bg.jpg);
        background-repeat: no-repeat, repeat;
        background-size: 100vw 90vh;
    }
}
/* Banner Container */
#banner{
    display: flex;
    height: 70vh; 
    align-items: center; 
    justify-content: center; 
}
/* Story Container */
#storyContainer{
    padding: 100px 0 0 0;
}
/* Portfolio */
.portfolioContainer{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 60vw;
}
.portfolioContainer img:hover, .portfolioContainer2 img:hover, .portfolioContainer3 img:hover{
    filter: opacity(0.1);
    transition: filter 0.3s ease-in;
}
.portfolioContainer2{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 30vw;
}
.portfolioContainer3{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 30vw;
}
.portfolioContainer4{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 60vw;
}
.portfolioContainer img, .portfolioContainer2 img, .portfolioContainer3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.2s ease-out;
}
.dresserContainer{
    position: absolute;
    z-index: -1 !important;
    bottom: 0;
    left: 10px;
}
.dresserContainer h3{
    font-size: var(--fontBase);
}