/* Justin D. Grumal 240005134 */
#aboutUs{
    color: #1e1e1e;
    font-weight: 600;
    text-decoration: underline;
} 
/* Body Background */
body{
    background-image: url(./Images/bannerIndex_L.jpg), url(./Images/bg.jpg);
    background-repeat: no-repeat, repeat;
    background-size: 100vw 90vh;
}
@media (max-width: 600px) {
    body{
        background-image: url(./Images/bannerIndex_SM.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 90vh;
    }
}
/* Banner Container */
#banner{
    display: flex;
    height: 70vh; 
    align-items: center; 
    justify-content: center; 
}
/* Story Container */
#storyContainer{
    padding: 100px 0 0 0;
}
/* Portfolio */
#portfolio{
    margin: 20px 0 0 0;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: auto;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}