/* Justin D. Grumal 240005134 */
/* Form Container */
.formContainer, .summaryContainer{
    color: var(--textColourWhite);
    filter: drop-shadow(3px 5px 3px var(--shadowColour));
    height: auto;
    padding: 20px;
    border-radius: 10px;
}
.formContainer, .summaryContainer{
    background-color: var(--secondaryColour);
    background-image: url(./Images/bg3.jpg);  
}
.summaryContainer{
    top: 2rem;
}
/* Summary */
.summaryHeading{
    font-size: var(--fontBase);
}
li{
    font-family: var(--fontFmText);
    font-size: var(--fontBase);
}
.priceText{
    font-size: clamp(0.7rem,2vw,1.1rem);
}
/* Navigation Buttons */
i{
    color: var(--textColourInactive);
    font-size: 3rem;    
}
i:hover{
    color: var(--textColour);
}
#backBtn, #exitBtn{
    aspect-ratio: 1/1;
}
/* Tabs */
.nav-link{
    color: var(--textColourWhite) !important;
    font-size: var(--fontBase);
}
.nav-tabs .nav-link:hover {
    border-color: transparent;
}
.nav-link.active{
    color: var(--textColour) !important;
    font-weight: bold;
}
/* Accordion */
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: transparent;
    box-shadow: none;
} 
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125); /* Optional: keep the default border color */
}
/* Card */
.card{
    color: var(--textColour);
}
.cardBtn{
    color: var(--textColourWhite);
    font-family: var(--fontFmText);
    font-size: var(--fontXlg);

    background-color: var(--accentColour);
    width: 50px;
    height: 50px;
    border-radius: 100%;

    display: flex;
    justify-content: center; 
    align-items: center;
}
/* Button */
.btn-check:checked+.btn{
    background-color: var(--accentColour);
    font-weight: bold;
}
/* Continue Button */
#continueBtn{
    color: var(--textColourWhite);
    font-family: var(--fontFmText);
    background-color: var(--primaryColour);
}
#continueBtn:hover{
    font-weight: bold;
}
#timePlaceHolder{
    margin: 0px 0px 8px 0px;
}
/* Time Button */
.timeBtn{
    background-color: var(--textColourWhite);
    width: 100%;
}
.timeBtn:hover{
    background-color: var(--accentColour) !important;
    color: var(--textColourWhite) !important;
    font-weight: bold;
}
/* List */
ul{
    font-family: var(--fontFmText);
    font-size: var(--fontbase);
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Profile Image */
.profileImgCard{
    width: 100%;
    height: auto;
}
/* Labels */
label{
    font-family: var(--fontFmText);
    font-size: var(--fontbase);
}

