/* Justin D. Grumal 240005134 */
/* Form Container */
.formContainer, .summaryContainer{
    color: var(--textColourWhite);
    filter: drop-shadow(3px 5px 3px var(--shadowColour));
    height: auto;
    padding: 20px;
    border-radius: 10px;
}
.formContainer, .summaryContainer{
    background-color: var(--secondaryColour);
    background-image: url(./Images/bg3.jpg);  
}
/* Navigation Buttons */
i{
    color: var(--secondaryColour);
    font-size: 3rem;    
}
#backBtn, #exitBtn{
    aspect-ratio: 1/1;
}
/* Tabs */
.nav-link{
    color: var(--textColourWhite) !important;
}
.nav-tabs .nav-link:hover {
    border-color: transparent;
}
.nav-link.active{
    color: var(--textColour) !important;
    font-weight: bold;
}
/* Accordion */
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: transparent;
    box-shadow: none; /* Removes the bottom border shadow */
} 
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125); /* Optional: keep the default border color */
}
/* Card */
.cardBtn{
    color: var(--textColourWhite);
    font-family: var(--fontFmText);
    font-size: var(--fontXlg);

    background-color: var(--accentColour);
    width: 50px;
    height: 50px;
    border-radius: 100%;

    display: flex;
    justify-content: center; 
    align-items: center;
}
/* Continue Button */
#continueBtn{
    background-color: var(--accentColour);
    color: var(--textColourWhite);
    font-family: var(--fontFmText);
    transition: transform 0.1s ease-out;
}
.btn:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in;
}
/* List */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'josefin Sans';
    font-size: 1rem;
}
.profileCard{
    width: 100%;
    height: auto;
}
.timeBtn{
    background-color: #ffffff;
    border-radius: 0.4rem;
    width: 100%;
}
.timeBtn:hover{
    background-color: #28332a !important;
    color: #fff !important  ;
}
