/* Justin D. Grumal 240005134*/
/* Navigation Bar */
#services{
    color: #1e1e1e;
    font-weight: 600;
    text-decoration: underline;
} 
/* ScrollSpy */
#list{
    filter: drop-shadow(0px 5px 2px var(--shadowColour));
    border-radius: 20px;
    margin: 0 0 20px 0;
}
.list-group-item{
    color: var(--textColour) !important;
    font-family: var(--fontFmHeading);
    font-size: var(--fontBase);
    -webkit-text-stroke: .3px var(--textColour);
}
.list-group-item.active {
    color: var(--textColourWhite) !important;
    -webkit-text-stroke: .3px var(--textColourWhite);
    background-color: var(--accentColour)!important;
    border-color: var(--accentColour) !important;
}
/* Table */
table{
    table-layout: fixed;
}
th{
    background-image: url(./Images/bg3.jpg);
    color: var(--textColourWhite) !important;
    font-family: var(--fontFmHeading);
    font-size: clamp(1rem,3vw,2rem);
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px var(--textColourWhite);
}
.thLeft{
    border-radius: 20px 0 0 0;
}
.thRight{
    border-radius: 0 20px 0 0;
}
.tdLeft{
    border-radius: 0 0 0 20px;
}
.tdRight{
    border-radius: 0 0 20px 0;
}
.extra{
    color: var(--textColourWhiteVar2) !important;
    font-size: clamp(0.7rem,2vw,1.1rem);
    font-weight: normal;
}

td{
    color: var(--textColour) !important;
    font-family: var(--fontFmText);
    font-size: var(--fontBase);
}

.serviceContainer{
    background-image: url(./Images/bg4.jpg);
    filter: drop-shadow(0px 5px 2px var(--shadowColour));
    border-radius: 20px;
    padding: 20px;
    margin: 0 0 20px 0
}